.btn {
  font-size: 14px;
  padding: 12px 18px;
  /* width: 195px; */
  /* height: 50px; */
  border-radius: 100px;
  transition: all 0.2s ease;
  font-weight: normal;
}

.btn:hover {
  cursor: pointer;
}

.btn:active {
  scale: 0.95;
}

/* Filled */
.btn.filled {
  background: white;
  color: #000;
  border: none;
  padding: 12px 42px;
}

.btn.filled:hover {
  opacity: 0.9;
}

/* Hollow */
.btn.hollow {
  background: transparent;
  color: #fff;
  border: 2px solid rgba(255,255,255,0.3);
  backdrop-filter: blur(2px);
}

.btn.hollow:hover {
  border-color: #fff;
}

@media (min-width: 700px) {
  .btn {
    font-size: 20px;
  }
}

@media (min-width: 956px) {
  .btn {
    font-size: 30px;
  }
  .btn.filled {
    padding: 18px 46px;
  }
}
